.breadcrumbs {
    font-size: 0;
    line-height: get-width(18);
    margin-bottom: get-width(12);

    &__item {
        display: inline-block;
        vertical-align: top;

        & + & {
            &:before {
                content: '';
                display: inline-block;
                vertical-align: middle;
                background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAJCAYAAAD6reaeAAAAaElEQVQImVXMQQ3DMBBE0T9WGYWCKdQUgmCNofIgCIUEQkKhmLYnS+4c30gf29sYY2NZAd6Sbtt1ogBsn0DNzNZ7fzRf22dmVkmtLKldEsCx4gGQmftfE2gR8RTbnxUAXsAFXBHxnZ0fc7sm8jM4imkAAAAASUVORK5CYII=');
                background-size: cover;
                width: get-width(5);
                height: get-width(9);
                margin: 0 get-width(6) 0 get-width(7);
            }
        }
    }

    &__link {
        font-size: get-width(14);
        vertical-align: middle;
        color: #666666;
        text-decoration: none;

        &._current {
            color: #8b8b8b;
        }
    }
}
