.catalog {
    padding-bottom: get-width(50);

    &__title {
        font-size: get-width(26);
        line-height: get-width(28);
        margin-bottom: get-width(40);
        font-weight: bold;
        color: #543b2f;
    }

    &__list {
        & + & {
            margin-top: get-width(85);
        }
    }
}



.catalog-item {
    @include cf;
    position: relative;
    border: get-width(5) solid #fff;
    width: get-width(770);
    min-height: get-width(240);
    margin-left: get-width(-45);
    border-radius: get-width(7);
    background: #fff;
    box-sizing: border-box;
    padding: get-width(28) get-width(30) get-width(10) get-width(20);
    box-shadow: get-width(2) get-width(2) get-width(8) rgba(0,0,0,0.2);

    &._part-1:before {
        background: url('../images/pig-part-1.png') no-repeat;
    }
    &._part-2:before {
        background: url('../images/pig-part-2.png') no-repeat;
    }
    &._part-3:before {
        background: url('../images/pig-part-3.png') no-repeat;
    }
    &._part-4:before {
        background: url('../images/pig-part-4.png') no-repeat;
    }
    &._part-5:before {
        background: url('../images/pig-part-5.png') no-repeat;
    }
    &._part-6:before {
        background: url('../images/pig-part-6.png') no-repeat;
    }
    &._part-7:before {
        background: url('../images/pig-part-7.png') no-repeat;
    }
    &._part-8:before {
        background: url('../images/pig-part-8.png') no-repeat;
    }
    &._part-9:before {
        background: url('../images/pig-part-9.png') no-repeat;
    }
    &._part-10:before {
        background: url('../images/pig-part-10.png') no-repeat;
    }
    &._part-11:before {
        background: url('../images/pig-part-11.png') no-repeat;
    }
    &._part-12:before {
        background: url('../images/pig-part-12.png') no-repeat;
    }
    &._part-13:before {
        background: url('../images/pig-part-13.png') no-repeat;
    }
    &._part-14:before {
        background: url('../images/pig-part-14.png') no-repeat;
    }
    &._part-15:before {
        background: url('../images/pig-part-15.png') no-repeat;
    }
    &._part-16:before {
        background: url('../images/pig-part-16.png') no-repeat;
    }
    &._part-17:before {
        background: url('../images/pig-part-17.png') no-repeat;
    }
    &._part-18:before {
        background: url('../images/pig-part-18.png') no-repeat;
    }
    &._part-19:before {
        background: url('../images/pig-part-19.png') no-repeat;
    }
    &._part-20:before {
        background: url('../images/pig-part-20.png') no-repeat;
    }
    &._part-21:before {
        background: url('../images/pig-part-21.png') no-repeat;
    }
    &._part-22:before {
        background: url('../images/pig-part-22.png') no-repeat;
    }
    &._part-23:before {
        background: url('../images/pig-part-23.png') no-repeat;
    }
    &:hover {
        border: get-width(5) solid #a62626;

        &:before {
            position: absolute;
            content: '';
            width: get-width(350);
            height: get-width(180);
            background-size: cover;
            right: get-width(-440);
            top: get-width(30);
        }
    }

    & + & {
        margin-top: get-width(20);
    }

    &__corner {
        display: none;
        position: absolute;
        width: get-width(20);
        height: get-width(32);
        top: get-width(60);
        right: get-width(-20);
        overflow: hidden;

        .catalog-item:hover & {
            display: block;
        }

        &:before {
            content: '';
            display: block;
            border: get-width(5) solid #a62626;
            background: #fff;
            position: relative;
            width: get-width(15);
            height: get-width(15);
            left: get-width(-14);
            top: get-width(3);
            @include rotate(45);
        }
    }

    &__link {
        text-decoration: none;
    }

    &__img-h {
        @include middler;
        float: left;
        width: get-width(155);
        padding-right: get-width(25);
        box-sizing: border-box;
        text-align: center;
    }

    &__img {
        max-width: 100%;
        vertical-align: middle;
    }

    &__inner {
        margin-left: get-width(155);
    }

    &__title {
        padding-bottom: get-width(20);
        margin-bottom: get-width(15);
        position: relative;

        &:after {
            position: absolute;
            content: '';
            height: 1px;
            bottom: -1px;
            left: get-width(2);
            right: 0;
            background: url('../images/line.png') no-repeat left;
            background-size: 100%;
        }
    }

    &__title-text {
        font-size: get-width(24);
        line-height: get-width(28);
        font-weight: bold;
        color: #505050;
        display: inline-block;
        vertical-align: top;
    }

    &__description {
        font-size: get-width(15);
        line-height: get-width(24);
        color: #646464;
    }
}

.catalog-item-info {
    width: 100%;
    color: #505050;
    font-size: get-width(15);
    line-height: get-width(24);
    margin-bottom: get-width(5);

    &__item {
        display: inline-block;
        vertical-align: top;

        & + & {
            margin-left: get-width(25);
        }
    }

    &__item-text {
        font-weight: bold;
    }

    &__item-value {
        color: #ae0c0c;
    }

    &__item-notice {
        color: #9b9b9b;
    }
}
