.content {
    position: relative;
    z-index: 40;

    &._contacts {
        margin-bottom: gs(-300);
    }
    //
    // &._catalog {
    //     padding-bottom: gs(30);
    // }

    &__inner {
        position: relative;
        @include content;

        .content._catalog & {
            // padding-bottom: gs(30);
        }
    }

    &__substrate {
        z-index: 100;
        position: absolute;
        width: gs(973);
        right: gs(-178);
        top: gs(15);
        bottom: 0;
        background: #f0eed5 url('../images/bg-substrate.jpg') bottom no-repeat;
        background-size: cover;
        border-radius: gs(7);
        box-shadow: 0 gs(5) gs(12) rgba(0,0,0,0.2);

        .content._catalog & {
            background: #f0eed5 url('../images/bg-substrate_catalog.jpg') left top no-repeat;
            background-size: cover;
            width: gs(1025);
        }

        .content._contacts & {
            background: #f0eed5 url('../images/bg-substrate_contacts.jpg') right bottom no-repeat;
            width: gs(1118);
        }

        .content._products & {
            background: #f0eed5;
            width: gs(875);
            right: 0;
            left: 0;
            margin: 0 auto;
        }

        .content._news-list & {
            background: #f0eed5 url('../images/bg-substrate_news-list.jpg') gs(100) gs(50) no-repeat;
            background-size: 100%;
            width: gs(1038);
        }

        .content._news-page & {
            background: #f0eed5 url('../images/bg-substrate_news-page.jpg') right gs(655) no-repeat;
            background-size: 100%;
            width: gs(1038);
            max-height: gs(1090);
        }

        .content._preparing & {
            background: #f0eed5;
        }

        .content._404 & {
            background: #f0eed5;
            width: gs(1118);
        }

        .content._product-page & {
            background: #f0eed5 url('../images/bg-substrate_product-page.jpg') right bottom no-repeat;
            // width: gs(973);
            // right: gs(-178);
            width: gs(1038);
            // right: 0;
            // max-height: gs(1090);
        }
    }

    &__content {
        position: relative;
        z-index: 200;
        padding-top: gs(15);
        min-height: gs(100);

        .content._catalog & {
            // padding-top: gs(80);
        }
    }

    &__preparing {
        padding: gs(25) 0 gs(50);
        width: 70%;
    }

    &__preparing-inner {
        box-shadow: 0 gs(5) gs(12) rgba(0,0,0,0.2);
        border-radius: gs(7);
        padding: gs(50) gs(35);
        background: #fff;
        font-size: gs(24);
        line-height: gs(26);
    }

    &__tab {
        background: #f0eed5;
        text-align: center;
        padding: 0 gs(80) 0 gs(74);
        height: gs(96);
        border-radius: gs(7);
        position: absolute;
        right: 0px;
        top: gs(-37);
        @include middler;

        &:before {
            content: '';
            width: gs(29);
            height: gs(29);
            margin-right: gs(22);
            display: inline-block;
            vertical-align: middle;
            background: url('../images/icon-info.png');
            background-size: cover;
        }

        .content._catalog & {
            padding-left: gs(50);
            padding-right: gs(50);

            &:before {
                width: gs(56);
                height: gs(35);
                background: url('../images/icon-catalog.png');
                background-size: cover;
            }
        }

        .content._contacts & {
            padding-left: gs(45);
            padding-right: gs(50);

            &:before {
                width: gs(83);
                height: gs(35);
                background: url('../images/icon-contacts.png');
                background-size: cover;
            }
        }

        .content._products & {
            padding-left: 0;
            padding-right: 0;
            width: gs(435);
            right: 0;
            left: 0;
            margin: 0 auto;

            &:before {
                margin-right: gs(26);
                width: gs(47);
                height: gs(40);
                background: url('../images/icon-products.png');
                background-size: cover;
            }
        }

        .content._news-list &,
        .content._news-page & {
            padding-left: gs(40);
            padding-right: gs(40);

            &:before {
                width: gs(56);
                height: gs(50);
                background: url('../images/icon-news-list.png');
                background-size: cover;
            }
        }

        .content._404 & {
            padding-left: gs(140);
            padding-right: gs(140);

            &:before {
                width: gs(31);
                height: gs(29);
                background: url('../images/icon-warning.png');
                background-size: cover;
            }
        }

        .content._product-page & {
            padding-left: gs(50);
            padding-right: gs(110);

            &:before {
                width: gs(47);
                height: gs(40);
                background: url('../images/icon-meat.png');
                background-size: cover;
            }
        }

    }

    &__tab-text {
        vertical-align: middle;
        color: #8b8b8b;
        font-size: gs(26);
        line-height: gs(28);
        font-weight: bold;
    }

    &__title {
        margin-top: gs(65);
        margin-left: gs(516);
        margin-bottom: gs(24);
        font-size: gs(39);
        line-height: gs(45);
        font-weight: bold;
        color: #543b2f;
    }

    &__description {
        color: #7c7c7c;
        font-size: gs(15);
        line-height: gs(30);
        padding-left: gs(444);
        margin-top: gs(45);

        .content._catalog & {
        }

        .content._contacts & {
            padding: gs(45) 0 0 gs(352);
            margin-top: 0;
            margin-bottom: gs(-35);
        }

        .content._preparing & {
            margin-top: gs(40);
            padding-left: gs(480);
            margin-bottom: gs(-10);
        }

        .content._products & {
            width: gs(875);
            margin: 0 auto;
            box-sizing: border-box;
            padding: gs(45) gs(50);
        }

        .content._news-list & {
            padding-left: gs(430);
            margin-bottom: gs(40);
        }

        .content._news-page & {
            padding-left: gs(430);
            margin-bottom: gs(-25);
        }

        .content._404 & {
            color: #505050;
            line-height: gs(26);
            font-size: gs(17);
            padding-left: gs(350);
            padding-bottom: gs(45);
            margin-bottom: gs(220);
        }

        .content._product-page & {
            padding-left: gs(402);
            margin-top: gs(40);
            margin-bottom: gs(-32);
        }
    }

}
