.contacts-content {
    @include cf;
    line-height: gs(24);
    font-size: gs(15);
    color: #4f5050;
    padding: gs(45) 0 gs(45) gs(352);

    &__col {
        float: left;
        width: gs(356);

        &:last-child {
            width: gs(492);
        }
    }
}

.contacts-content-block {
    & + & {
        margin-top: gs(25);
    }

    &__title {
        font-weight: normal;
        color: #9b9b9b;
    }

    &__list {

    }

    &__row {

    }
}



.contacts-map {
    width: 100%;
    position: relative;
    background: #fff;
    border-radius: gs(7);
    height: gs(604);
    padding: gs(32) gs(45) gs(45);
    margin-left: gs(-45);

    &__inner {
        height: 100%;
        background: url('../images/map.jpg') no-repeat;
        background-size: cover;
    }
}

.contacts-map-magnifier {
    position: absolute;
    top: gs(20);
    left: gs(400);
    cursor: pointer;

    &__frame {
        display: block;
        width: gs(540);
        height: gs(695);
        background: url('../images/magnifier.png') no-repeat;
        background-size: cover;
        z-index: 2;
        position: relative;
    }

    &__viewport {
        overflow: hidden;
        position: absolute;
        border-radius: 50%;
        top: gs(37);
        left: gs(54);
        width: gs(308);
        height: gs(307);
        z-index: 1;
    }

    &__map {
        background: url('../images/map-zoomed.jpg') no-repeat;
        background-size: cover;
        width: gs(505);
        height: gs(501);
        position: relative;
    }
}


.contacts-form {
    padding: gs(45) 0 gs(45) gs(352);

    &__title {
        font-size: gs(24);
        line-height: gs(30);
        color: #4f5050;
        font-weight: bold;
        margin-bottom: gs(8);
    }

    &__description {
        font-size: gs(15);
        line-height: gs(24);
    }
}

.contacts-form-fields {
    @include cf;
    padding-top: gs(18);

    &__col {
        box-sizing: border-box;
        float: left;

        &:first-child {
            width: gs(590);
        }

        &:last-child {
            width: gs(258);
            padding-left: gs(20);
        }
    }

    &__row {
        & + & {
             margin-top: gs(20);
        }
    }

    &__message,
    &__input {
        box-sizing: border-box;
        width: 100%;
        border: 1px solid #b2b2b2;
        background: transparent;
        padding: gs(10) gs(15);
        font-family: $ff-regular;
        font-size: gs(15);
        line-height: gs(24);
        @include placeholder(#7c7c7c);
        color: #4f5050;
    }

    &__message {
        height: gs(178);
    }

    &__input {
        height: gs(46);
    }

    &__submit {
        width: 100%;
        border: 0;
        cursor: pointer;
        font-family: $ff-regular;
        position: relative;
        background: #a8231f;
        opacity: 0.85;
        font-weight: 600;
        font-size: gs(20);
        line-height: gs(42);
        box-sizing: border-box;
        color: #fff;
        height: gs(46);
        border-radius: gs(5);
        padding: 0 0 gs(2) gs(95);

        &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: gs(25);
            margin: auto 0;
            width: gs(54);
            height: gs(22);
            background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADYAAAAWCAYAAACL6W/rAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAGYSURBVHja7JcxSwNBEIXfJjEiglYqio3YiYKtP8BOJSkkjY2FNjZi7R+wESwFO0ErK4tICvUPWFmIdUBQEQsLUUk+mz1ZIkkul9szCQ5Mcdzcm30z73ZnDSAP5gW0FUupRy0pYkVJeUnGgy9JevqtGRDxmBwPrAS8AJ/AA7AKjNfEtuMHTq5XYMNdTNojsRFgB7i2z2/ACZAHsm0QytXkLgJTbm55chd/AJgGDi2xiq3uPjAK9LWAOwGc1ZBat80RkEqSmOubwDnwZd9fAGvAcAjMZaDsYB83yp00MQGzwBbwbGPK9l+ZrBOfdaQMcA/M1Ik1f0ks8AXgysoT4AZYcTaXDLDrYH0Ae1ba9TBDSTGOzaNZAeasPG+BKvAIHAEF4M7BKdtCmCZ4plOIBZ0ZA07t0QDw7mBsR1GL8TxSmRa+GbKHbUHSoqSSpFyEgaMiSWGImQazXzoAioGYJPVLGpQ0L+kyQkGNpGpYYkl1LNbcvTYE/xQyE+N1xHQAsVSvXlsqUTtmuoXh/0Wz2yzjGZ//jsVs3wMA0Y3BPx53IN8AAAAASUVORK5CYII=');
            background-size: 100%;
        }
    }
}
