.cross-links {
    margin-bottom: gs(32);

    &__item {
        & + & {
            margin-top: gs(3);
        }
    }

    &__link {
        font-size: gs(18);
        line-height: gs(26);
        color: #a8231f;
        text-decoration: none;

        &:before {
            content: '';
            display: inline-block;
            margin-right: gs(8);
            background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAKCAYAAACXDi8zAAAAj0lEQVQImT3LQRHCQBREwTdTayAnzmABJBArWQloQMLGARqChVjAAg7+cEnR99brfJqEl1BPyRAIhSVfgAcwkgJAmJbULjxL3pIiVBemSSapXfEsvCEg9JYUwgA7Yk5qA74WJhQIgKvwJPxp4T+WpAbQgbUdYyEMyZ2whqKFukseQE9qPTZN8jupG7BzEOYH459DHu9/th8AAAAASUVORK5CYII=');
            background-size: cover;
            width: gs(7);
            height: gs(11);
        }
    }
}
