.feed {
    position: relative;
    padding-bottom: gs(55);

    &__item {
        position: relative;

        & + & {
            margin-top: gs(16);
        }
    }

    &__img-h {
        margin-left: gs(-10);
        background: #fff;
        border-radius: gs(7);
        box-shadow: gs(2) gs(2) gs(8) rgba(0,0,0,0.2);
        padding: gs(10);
        width: gs(554);
        height: gs(354);
    }

    &__img-link {

    }

    &__img {
        width: 100%;
    }

    &__content {
        position: absolute;
        right: 0px;
        height: gs(294);
        width: gs(724);
        top: gs(40);
        box-sizing: border-box;
        padding: gs(32) gs(42) gs(20);
        background: rgba(255,255,255,0.7);

        &._bg-0 {
            background: url('../images/content-bg-0.png') no-repeat;
            background-size: 100%;
        }

        &._bg-1 {
            background: url('../images/content-bg-1.png') no-repeat;
            background-size: 100%;
        }

        &._bg-2 {
            background: url('../images/content-bg-2.png') no-repeat;
            background-size: 100%;
        }

        &._bg-3 {
            background: url('../images/content-bg-3.png') no-repeat;
            background-size: 100%;
        }

        &._bg-4 {
            background: url('../images/content-bg-4.png') no-repeat;
            background-size: 100%;
        }
    }

    &__title {
        position: relative;
        font-size: gs(24);
        line-height: gs(28);
        color: #505050;
        font-weight: bold;
        padding-bottom: gs(30);
        margin-bottom: gs(24);

        &:after {
            position: absolute;
            content: '';
            height: 1px;
            bottom: -1px;
            left: 0;
            right: 0;
            background: url('../images/line.png') no-repeat left;
            background-size: 100%;
        }
    }

    &__text {
        color: #646464;
        font-size: gs(15);
        line-height: gs(30);
    }

    &__photos-btn {
        background: rgba(#891b16, 0.85);
        font-weight: 300;
        font-size: gs(24);
        line-height: gs(56);
        box-sizing: border-box;
        color: #fff;
        height: gs(58);
        border-radius: gs(5);
        padding: 0 gs(38) gs(3) gs(85);
        position: absolute;
        z-index: 100;
        bottom: gs(-30);
        left: 0;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: gs(28);
            margin: auto 0;
            width: gs(38);
            height: gs(33);
            background: url('../images/icon-photos.png');
            background-size: 100%;
        }
    }
}
