.footer {
    color: #201811;
    height: gs(450);
    // margin-top: gs(-155);
    // padding-top: gs(155);
    box-sizing: border-box;
    background: url('../images/bg-footer.png') center bottom no-repeat;
    background-size: 100%;
    position: relative;
    z-index: 10;

    &__inner {
        @include content;
        position: relative;
        height: 100%;
    }


    &__up-btn {
        width: gs(445);
        position: absolute;
        z-index: 10;
        height: gs(102);
        top: gs(-50);
        line-height: gs(12);
        box-sizing: border-box;
        border-radius: 0 0 gs(7) gs(7);
        background: rgba(0,0,0,0.5);
        font-weight: 300;
        color: #fff;
        font-size: gs(24);
        text-align: center;
        padding: gs(50) 0 gs(4) gs(42);

        &:before {
            content: '';
            position: absolute;
            top: gs(66);
            margin-left: gs(-37);
            width: gs(19);
            height: gs(18);
            background: url('../images/icon-up.png');
            background-size: 100%;
        }

        &._compact {
            padding-top: gs(5);
            border-radius: gs(7);
            height: gs(80);
            top: gs(-20);

            &:before {
                top: gs(32);
            }
        }

        &._sticked {
            top: gs(-75);
            padding-top: gs(44);

            &:before {
                top: gs(62);
            }
        }
    }

    &__copyrights {
        position: absolute;
        bottom: 0;
        font-size: gs(12);
        color: #7a7a7a;
        height: gs(48);
        line-height: gs(48);
        padding: 0 gs(28);
        border-radius: gs(7) gs(7) 0 0;
        background: #fff;
    }

    &__developers {
        font-family: $ff-tech;
        color: #fff;
        position: absolute;
        right: gs(40);
        bottom: gs(16);
    }

    &__developers-link {
        text-decoration: none;
        color: #fff;
        font-size: gs(12);
        line-height: gs(20);
        border-bottom: 1px solid #fff;
    }

}


.footer-content {
    @include cf;
    padding-top: gs(95);
    font-family: $ff-tech;
    font-size: gs(16);
    line-height: gs(20);
    font-weight: 300;

    &__col {
        float: left;
        width: 56.7%;

        &:first-child {
            width: 43.3%
        }
    }
}


.footer-phones {
    position: relative;
    padding-left: gs(30);
    padding-top: gs(7);
    display: table;

    &:before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: gs(13);
        height: gs(32);
        background: url('../images/icon-phone.png') no-repeat;
        background-size: 100%;
    }

    &__row {
        @include cf;
        margin-bottom: gs(10);
        display: table-row;
    }

    &__title {
        padding-right: gs(25);
        display: table-cell;
    }

    &__value {
        display: table-cell;
        font-weight: 500;
    }

    &__link {
        color: #201811;
        text-decoration: none;
    }

    &__note {
        font-size: gs(12);
        line-height: gs(20);
        color: #553e20;
    }
}

.footer-contacts {

    &__item {
        position: relative;
        padding-left: gs(35);

        & + & {
            margin-top: gs(35);
        }

        &:before {
            content: '';
            position: absolute;
        }

        &._location {

            &:before {
                top: gs(-6);
                left: gs(5);
                width: gs(18);
                height: gs(29);
                background: url('../images/icon-pin.png') no-repeat;
                background-size: 100%;
            }
        }

        &._email {

            &:before {
                top: gs(2);
                left: 0px;
                width: gs(27);
                height: gs(17);
                background: url('../images/icon-email.png') no-repeat;
                background-size: 100%;
            }
        }
    }

    &__link {
        color: #201811;
        text-decoration: none;
    }
}
