.header {
    position: relative;
    z-index: 30;

    &__inner {
        @include content;
        // height: 584px;
    }
}


.header-slider {
    // height: 584px;
    padding-bottom: 30%;
    position: relative;
    z-index: 10;

    &._catalog {
        background: url('../images/bg-slider_catalog.jpg') center no-repeat;
        background-size: cover;
        padding-bottom: 23.2%;
    }

    &._contacts {
        background: url('../images/bg-slider_contacts.jpg') center no-repeat;
        background-size: cover;
        padding-bottom: 22.3%;
    }

    &._products {
        background: url('../images/bg-slider_products.jpg') center no-repeat;
        background-size: cover;
        padding-bottom: 22.3%;
    }

    &._news-list {
        background: url('../images/bg-slider_news-list.jpg') center no-repeat;
        background-size: cover;
        padding-bottom: 22.3%;
    }

    &._news-page {
        background: url('../images/bg-slider_news-page.jpg') center no-repeat;
        background-size: cover;
        padding-bottom: 22.3%;
    }

    &._404 {
        background: url('../images/bg-slider_404.jpg') center no-repeat;
        background-size: cover;
        padding-bottom: 22.3%;
    }

    &._product-page {
        background: url('../images/bg-slider_product-page.jpg') center no-repeat;
        background-size: cover;
        padding-bottom: 22.3%;
    }

    &__list {
        // height: 100%;
        position: absolute;
        z-index: 10;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-size: cover;
        background-position: center;
        background-image: url('../images/bg-slider.jpg');
    }

    &__item {
        transition: opacity 1s ease;
        opacity: 0;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-size: cover;
        background-position: center;
        z-index: 1;

        &._active {
            opacity: 1;
            z-index: 10;
        }
    }

    &__item-img {

    }
}

.header-slider-content {
    position: absolute;
    z-index: 20;
    bottom: 0px;
    left: 0;
    right: 0;

    &:after {
        content: '';
        position: absolute;
        height: gs(15);
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,0.5);
    }

    &__inner {
        @include content;
        position: relative;
    }


    &__box {
        position: relative;
        border-radius: gs(7) gs(7) 0 0;
        width: gs(445);
        height: gs(225);
        background: rgba(0,0,0,0.5);
        margin-bottom: gs(15);
        box-sizing: border-box;
        color: #fff;
        text-align: center;
    }

    &__box-list {

    }

    &__box-item {
        display: none;

        &._active {
            display: block;
        }
    }

    &__title {
        position: relative;
        padding: gs(19.5) gs(15);

        &:before {
            position: absolute;
            content: '';
            height: 1px;
            background: rgba(255,255,255,0.5);
            width: gs(210);
            left: 0;
            right: 0;
            bottom: -1px;
            margin: 0 auto;
        }
    }

    &__title-text {
        display: inline-block;
        vertical-align: middle;
        line-height: gs(38);
        font-size: gs(26);
        font-weight: bold;
    }

    &__text {
        font-size: gs(15);
        line-height: gs(30);
        padding: gs(20) gs(15) 0;
    }


    &__nav {
        position: absolute;
        bottom: gs(22);
        left: 0;
        right: 0;
        text-align: center;
    }

    &__nav-btn {
        vertical-align: top;
        border: 1px solid #fff;
        border-radius: 50%;
        height: gs(18);
        width: gs(18);
        box-sizing: border-box;

        &._active {
            background: #fff;
        }

        & + & {
            margin-left: gs(10);
        }
    }
}
