.menu {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    @include content;
    padding: 0;
    z-index: 100;
    border-bottom: gs(3) solid rgba(0,0,0,0.2);
    border-radius: 0 0 gs(7) gs(7);

    &__list {
        @include cf;
    }

    &__item {
        float: left;
        text-align: center;
        width: 16%;

        & + & {
            width: 28%;
        }

        & + & + & {
            width: 24%;
        }

        & + & + & + & {
            width: 16%;
        }

        & + & + & + & + & {
            width: 16%;
        }
    }

    &__link {
        @include middler;
        text-decoration: none;
        display: block;
        height: gs(87);
        box-sizing: border-box;
        color: #1e1e1e;
        background: rgba(255,255,255,0.75);

        &:hover {
            background: rgba(#a01515, 0.85);
            color: #fff;
        }

        .menu__item._active & {
            background: rgba(0,0,0,0.2);
            color: #fff;
        }

        .menu__item:first-child & {
            border-radius: 0 0 0 gs(7);
        }

        .menu__item:last-child & {
            border-radius: 0 0 gs(7) 0;
        }
    }

    &__text {
        // font-size: 24px;
        font-size: gs(24);
        vertical-align: middle;
        font-weight: 300;
    }
}
