.news-list {
    padding-bottom: gs(30);
    position: relative;

    &__list {

    }

    &__footer {
        margin-left: gs(426);
        padding: gs(10) 0 gs(25) 0;
    }

    &__show-more {
        width: gs(420);
        border: 0;
        cursor: pointer;
        font-family: $ff-regular;
        position: relative;
        background: #a8231f;
        font-weight: 300;
        font-size: gs(24);
        line-height: gs(58);
        box-sizing: border-box;
        color: #fff;
        height: gs(62);
        border-radius: gs(5);
        padding: 0 0 gs(2) gs(86);

        &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: gs(46);
            margin: auto 0;
            width: gs(19);
            height: gs(18);
            @include rotate(180);
            background: url("../images/icon-up.png");
            background-size: 100%;
        }
    }
}

.news-list-item {
    @include cf;
    position: relative;
    border: gs(5) solid #fff;
    min-height: gs(240);
    margin-bottom: gs(30);
    border-radius: gs(7);
    background: #fff;
    box-sizing: border-box;
    padding: gs(5) gs(45) gs(5) gs(5);
    box-shadow: gs(2) gs(2) gs(8) rgba(0,0,0,0.2);

    &:hover {
        border: gs(5) solid $color-red;
    }

    &__link {
        text-decoration: none;
        display: block;
        @include cf;
    }

    &__img-h {
        @include middler;
        float: left;
        width: gs(376);
        box-sizing: border-box;
        text-align: center;
    }

    &__img {
        width: 100%;
        vertical-align: middle;
    }

    &__inner {
        margin-left: gs(376 + 40);
    }

    &__title {
        padding: gs(24) 0 gs(20);
        margin-bottom: gs(18);
        position: relative;

        &:after {
            position: absolute;
            content: '';
            height: 1px;
            bottom: -1px;
            left: gs(2);
            right: gs(50);
            background: url('../images/line.png') no-repeat left;
            background-size: 100%;
        }
    }

    &__title-text {
        font-size: gs(24);
        line-height: gs(28);
        font-weight: bold;
        color: #505050;
        display: inline-block;
        vertical-align: top;
    }

    &__description {
        font-size: gs(15);
        line-height: gs(24);
        color: #646464;
    }
}

.news-list-item-info {
    margin: 0 0 gs(6);

    &__date {
        color: #9b9b9b;
        font-size: gs(12);
        line-height: gs(20);
    }
}


.news-list-item-read-more {
    &__text {
        font-size: gs(15);
        line-height: gs(24);
        color: $color-red;
    }
}
