.news-page {
    @include cf;
    position: relative;
    min-height: gs(240);
    margin-top: gs(50);
    margin-bottom: gs(30);
    border-radius: gs(7);
    background: #fff;
    box-sizing: border-box;
    padding: gs(20) gs(45) gs(60) gs(20);
    box-shadow: gs(2) gs(2) gs(8) rgba(0,0,0,0.2);

    &__inner {
        margin-left: gs(376 + 30);
    }

    &__title {
        padding: gs(18) 0 gs(20);
        margin-bottom: gs(18);
        position: relative;

        &:after {
            position: absolute;
            content: '';
            height: 1px;
            bottom: -1px;
            left: gs(2);
            right: gs(50);
            background: url('../images/line.png') no-repeat left;
            background-size: 100%;
        }
    }

    &__title-text {
        font-size: gs(24);
        line-height: gs(28);
        font-weight: bold;
        color: #505050;
        display: inline-block;
        vertical-align: top;
    }

    &__description {
        font-size: gs(15);
        line-height: gs(24);
        color: #646464;
    }
}

.news-page-img-box {
    float: left;
    width: gs(376);
    box-sizing: border-box;

    &__item {
        & + & {
            margin-top: gs(18);
        }
    }

    &__img {
        width: 100%;
    }

    &__description {
        color: #9b9b9b;
        font-size: gs(12);
        line-height: gs(20);
        margin-top: gs(4);
    }
}

.news-page-info {
    margin: 0 0 gs(6);

    &__date {
        color: #9b9b9b;
        font-size: gs(12);
        line-height: gs(20);
    }
}
