.rewards {
    margin-top: 130px;

    &__inner {
        position: relative;
        @include content;
    }

    &__substrate {
        z-index: 100;
        position: absolute;
        width: 1960px;
        left: -340px;
        top: 0;
        bottom: 0px;
        background: #fff;
        border-radius: 7px;
        box-shadow: 0 5px 12px rgba(0,0,0,0.2);
    }

    &__content {
        position: relative;
        z-index: 200;
        padding-top: 85px;
        padding-bottom: 85px;
    }

    &__tab {
        background: #fff;
        text-align: center;
        padding: 0 70px;
        height: 96px;
        border-radius: 7px;
        position: absolute;
        right: 0px;
        top: -52px;
        @include middler;

        &:before {
            content: '';
            width: 29px;
            height: 29px;
            margin-right: 22px;
            display: inline-block;
            vertical-align: middle;
            background: url('../images/icon-docs.png')
        }
    }

    &__tab-text {
        vertical-align: middle;
        color: #8b8b8b;
        font-size: 26px;
        line-height: 28px;
        font-weight: bold;
    }

    &__text {
        font-size: 15px;
        line-height: 20px;
        font-weight: 300;
        margin-bottom: 32px;
    }
}

.rewards-slider {

    &__inner {
        margin-left: -30px;
        margin-right: -26px;

        .slick-prev,
        .slick-next {
            height: 100%;
            position: absolute;
            font-size: 0;
            color: #fff;
            background: #fff;
            width: 40px;
            top: 0;

            &:before {
                content: '';
                background: url('../images/slider-arrows.png') 0 0;
                width: 16px;
                height: 32px;
                position: absolute;
                top: 93px;
            }
        }

        .slick-prev {
            left: -10px;

            &:before {
                left: 0;
                background-position: 0 0;
            }
        }

        .slick-next {
            right: -10px;

            &:before {
                right: 0;
                background-position: 0 -32px;
            }
        }
    }

    &__item {
        text-align: center;
    }

    &__link {
        text-decoration: none;
    }

    &__img {
        margin-bottom: 15px;
        display: inline-block !important;
        max-width: 150px;
    }

    &__title {
        display: block;
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        font-weight: 600;
        width: 150px;
        margin: 0 auto 12px auto;
        color: #3c3c3c;
    }

    &__text,
    &__date {
        font-size: 9px;
        line-height: 18px;
        color: #777777;
    }

    &__text {
    }

    &__date {
    }


}
