.rewards {
    margin-top: 130px;
    box-shadow: 0 gs(5) gs(12) rgba(0,0,0,0.2);
    background: #fff;
    position: relative;
    z-index: 20;

    &__inner {
        position: relative;
        @include content;
    }

    &__substrate {
        display: none;
        // z-index: 100;
        // position: absolute;
        // width: 1960px;
        // left: -340px;
        // top: 0;
        // bottom: 0px;
        // background: #fff;
        // border-radius: 7px;
        // box-shadow: 0 5px 12px rgba(0,0,0,0.2);
    }

    &__content {
        position: relative;
        z-index: 200;
        padding-top: gs(85);
        padding-bottom: gs(85);
    }

    &__tab {
        background: #fff;
        text-align: center;
        padding: 0 gs(70);
        height: gs(96);
        border-radius: gs(7);
        position: absolute;
        right: 0px;
        top: gs(-52);
        @include middler;

        &:before {
            content: '';
            width: gs(29);
            height: gs(29);
            margin-right: gs(22);
            display: inline-block;
            vertical-align: middle;
            background: url('../images/icon-docs.png');
            background-size: 100%;
        }
    }

    &__tab-text {
        vertical-align: middle;
        color: #8b8b8b;
        font-size: gs(26);
        line-height: gs(28);
        font-weight: bold;
    }

    &__text {
        font-size: gs(15);
        line-height: gs(20);
        font-weight: 300;
        margin-bottom: gs(32);
    }
}

.rewards-slider {

    &__inner {
        margin-left: gs(-30);
        margin-right: gs(-26);

        .slick-prev,
        .slick-next {
            height: 100%;
            position: absolute;
            font-size: 0;
            color: #fff;
            background: #fff;
            width: gs(40);
            top: 0;

            &:before {
                content: '';
                background: url('../images/slider-arrows.png') 0 0;
                background-size: 100%;
                width: gs(16);
                height: gs(32);
                position: absolute;
                top: gs(93);
            }
        }

        .slick-prev {
            left: gs(-10);

            &:before {
                left: 0;
                background-position: 0 0;
            }
        }

        .slick-next {
            right: gs(-10);

            &:before {
                right: 0;
                background-position: 0 gs(-32);
            }
        }
    }

    &__item {
        text-align: center;
    }

    &__link {
        text-decoration: none;
    }

    &__img {
        margin-bottom: gs(15);
        display: inline-block !important;
        max-width: gs(150);
    }

    &__title {
        display: block;
        font-size: gs(14);
        line-height: gs(18);
        text-transform: uppercase;
        font-weight: 600;
        width: gs(150);
        margin: 0 auto gs(12) auto;
        color: #3c3c3c;
    }

    &__text,
    &__date {
        font-size: gs(9);
        line-height: gs(18);
        color: #777777;
    }

    &__text {
    }

    &__date {
    }


}
