.seo-block {
    position: absolute;
    bottom: gs(-50);
    z-index: 300;
    left: 0;
    right: 0;

    .rewards & {
        bottom: 0;
        background: #fff;
        box-shadow: 0 gs(12) gs(12) rgba(0,0,0,0.2);
    }

    .content._product-page & {
        margin-left: gs(380);
        right: gs(-(178 + 40));
    }

    // .content._preparing & {
    //     background: #f0eed5;
    // }

    &__inner {
        color: #8b8b8b;
        background: #f0eed5;
        box-shadow: 0 gs(12) gs(12) rgba(0,0,0,0.2);
        border-radius: 0 0 gs(7) gs(7);
        padding-top: gs(10);

        .rewards & {
            @include content;
            background: transparent;
            border-radius:0;
            box-shadow: none;
        }
    }

    &__content {
        display: none;
        padding: gs(30) gs(25) gs(5);

        .rewards & {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &__title {
        font-size: gs(24);
        line-height: gs(24);
        font-weight: bold;
        margin-bottom: gs(15);
    }

    &__text {
        font-size: gs(13);
        line-height: gs(18);

        h1, h2, h3 {
            font-weight: bold;
            margin: gs(24) 0 gs(12);
        }
        h1 {
            font-size: gs(20);
        }

        h2 {
            font-size: gs(17);
        }

        h3 {
            font-size: gs(15);
        }

        p {
            margin-bottom: gs(15);
        }

        a {
            color: #8b8b8b;
        }

        ul {
            margin: gs(15) 0;

            li {
                // line-height: gs(20);
                // color: #838d8f;
                padding-left: gs(18);
                position: relative;

                &:before {
                    position: absolute;
                    top: gs(7);
                    left: 0;
                    content: '';
                    display: inline-block;
                    background: #bfbfbf;
                    width: gs(6);
                    height: gs(6);
                    border-radius: 50%;
                }
            }

            li + li {
                margin-top: gs(4);
            }
        }

        ol {
            counter-reset: myCounter;
            margin: gs(15) 0;
            padding-left: 0;
            list-style: none;

            li {
                padding-left: gs(18);
                position: relative;

                &:before {
                    position: absolute;
                    top: gs(0);
                    left: gs(-2);
                    counter-increment: myCounter;
                    content: counter(myCounter) ".";
                    display: inline-block;
                }
            }

            li + li {
                margin-top: gs(4);
            }
        }


    }

    &__toggle {
        text-align: center;
        cursor: pointer;
        height: gs(50);
        line-height: gs(45);

        &:before,
        &:after {
            content: '';
            background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAFCAYAAACXU8ZrAAAAVElEQVQImV3OQQ3DMBREwVkzKJZQMAZTKYVKZuJSMLffU6I0e3yaw2bO6bEPdlXtJKA9wKqqN1aSfsb2AD3JwMZCv6MzjKr64g82vHBgJLl+3ODxA5vcGzXiJ+4eAAAAAElFTkSuQmCC');
            width: gs(9);
            height: gs(5);
            background-size: cover;
            display: inline-block;
            vertical-align: middle;
            margin: 0 gs(8);
        }
    }

    &__toggle-text {
        vertical-align: middle;
        font-size: gs(14);

        &._minimize {
            display: none;
        }
    }
}
