.site-map {
    font-size: gs(17);
    line-height: gs(26);
    margin-top: gs(6);

    &__list {
        padding-left: gs(15);
    }

    &__item {
        position: relative;

        &:before {
            content: '';
            width: gs(5);
            height: gs(5);
            border-radius: gs(5);
            background: #505050;
            position: absolute;
            left: gs(-15);
            top: 50%;
            margin-top: gs(-2);
        }
    }

    &__link {
        color: #505050;
        cursor: pointer;
        text-decoration: none;
    }
}
