// 1:1 на 1650px
@function get-width($width) {
	@return ($width / 16.5) + vw;
}

@mixin content() {
	width: get-width(1200);
	// min-width: 1130px;
	padding: 0 get-width(40);
	margin: 0 auto;
}

$ff-regular: 'Open Sans', Arial, sans-serif;
$ff-tech: 'Roboto', Tahoma, sans-serif;

$color-red: #c32021;

@import "mixins";
// @import "fonts";
@import "base";
@import "wrapper";
@import "header";
@import "menu";
@import "content";
@import "catalog";
@import "contacts";
@import "products";
@import "feed";
@import "catalog";
@import "news-list";
@import "news-page";
@import "rewards";
@import "footer";



@import "fancybox";
@import "seoBlock";
