/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

/* =============================================================================
   Base
   ========================================================================== */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: 100%;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 20px; }

body {
  background: #e2d3ac url("../images/bg.jpg") center -28% no-repeat;
  background-size: cover;
  color: #3c3c3c;
  margin: 0;
  font-family: "Open Sans", Arial, sans-serif;
  min-width: 1280px; }

/* =============================================================================
   Links
   ========================================================================== */
a,
a:hover,
a:active,
a:focus {
  outline: none; }

/* =============================================================================
   Typography
   ========================================================================== */
h1, h2, h3, h4, h5, h6 {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px; }

b {
  font-weight: bold; }

strong {
  font-weight: normal; }

blockquote {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 40px;
  margin-right: 40px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  margin: 0;
  border: 0; }

mark {
  background: #ff0;
  color: #000; }

h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
  margin-top: 0; }

pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  font-size: 14px; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 0.8em; }

sub,
sup {
  font-size: 0.7em;
  line-height: 0; }

/* =============================================================================
   Lists
   ========================================================================== */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

ul {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style: none;
  list-style-position: outside; }

dl {
  margin-top: 0;
  margin-bottom: 0; }

dd {
  margin-left: 0; }

/* =============================================================================
   Embedded content
   ========================================================================== */
img {
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

/* =============================================================================
   Figures
   ========================================================================== */
figure {
  margin: 0; }

/* =============================================================================
   Tables
   ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0; }

th {
  font-weight: normal; }

/* =============================================================================
   Helpers
   ========================================================================== */
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0; }

fieldset, form, label {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

input {
  padding: 0;
  margin: 0; }
  input:focus {
    outline: none; }
  input::-ms-clear {
    display: none; }
  input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; }

button {
  border: 0;
  margin: 0;
  padding: 0;
  background: transparent;
  text-align: left;
  display: inline;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  cursor: pointer; }
  button:focus {
    outline: none; }
  button > * {
    transform: translate(0, 0); }
  button::-moz-focus-inner {
    padding: 0;
    border: 0; }

textarea:focus {
  outline: none; }

address {
  font-style: inherit; }

.wrapper {
  overflow: hidden; }

.header {
  position: relative; }
  .header__inner {
    max-width: 1200px;
    min-width: 1200px;
    padding: 0 40px;
    margin: 0 auto; }

.header-slider {
  padding-bottom: 30%;
  position: relative;
  z-index: 10; }
  .header-slider__list {
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-size: cover;
    background-position: center;
    background-image: url("../images/bg-slider.jpg"); }
  .header-slider__item {
    transition: opacity 1s ease;
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-size: cover;
    background-position: center;
    z-index: 1; }
    .header-slider__item._active {
      opacity: 1;
      z-index: 10; }

.header-slider-content {
  position: absolute;
  z-index: 20;
  bottom: 0px;
  left: 0;
  right: 0; }
  .header-slider-content:after {
    content: '';
    position: absolute;
    height: 15px;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); }
  .header-slider-content__inner {
    max-width: 1200px;
    min-width: 1200px;
    padding: 0 40px;
    margin: 0 auto;
    position: relative; }
  .header-slider-content__box {
    position: relative;
    border-radius: 7px 7px 0 0;
    width: 445px;
    height: 225px;
    background: rgba(0, 0, 0, 0.5);
    margin-bottom: 15px;
    box-sizing: border-box;
    color: #fff;
    text-align: center; }
  .header-slider-content__box-item {
    display: none; }
    .header-slider-content__box-item._active {
      display: block; }
  .header-slider-content__title {
    position: relative;
    font-size: 26px;
    line-height: 76px;
    font-weight: bold;
    height: 76px;
    padding: 0 15px; }
    .header-slider-content__title:after {
      position: absolute;
      content: '';
      height: 1px;
      background: rgba(255, 255, 255, 0.5);
      width: 210px;
      left: 0;
      right: 0;
      bottom: -1px;
      margin: 0 auto; }
  .header-slider-content__text {
    font-size: 15px;
    line-height: 30px;
    padding: 20px 15px 0; }
  .header-slider-content__nav {
    position: absolute;
    bottom: 22px;
    left: 0;
    right: 0;
    text-align: center; }
  .header-slider-content__nav-btn {
    vertical-align: top;
    border: 1px solid #fff;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    box-sizing: border-box; }
    .header-slider-content__nav-btn._active {
      background: #fff; }
    .header-slider-content__nav-btn + .header-slider-content__nav-btn {
      margin-left: 10px; }

.menu {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  max-width: 1200px;
  min-width: 1200px;
  padding: 0 40px;
  margin: 0 auto;
  padding: 0;
  z-index: 100;
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  border-radius: 0 0 7px 7px; }
  .menu__list:after {
    content: '';
    display: table;
    clear: both; }
  .menu__item {
    float: left;
    text-align: center;
    width: 16%; }
    .menu__item + .menu__item {
      width: 28%; }
    .menu__item + .menu__item + .menu__item {
      width: 24%; }
    .menu__item + .menu__item + .menu__item + .menu__item {
      width: 16%; }
    .menu__item + .menu__item + .menu__item + .menu__item + .menu__item {
      width: 16%; }
  .menu__link {
    text-decoration: none;
    display: block;
    height: 87px;
    box-sizing: border-box;
    color: #1e1e1e;
    background: rgba(255, 255, 255, 0.5); }
    .menu__link:after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      height: 100%; }
    .menu__link:hover {
      background: #a72e2f;
      color: #fff; }
    .menu__item:first-child .menu__link {
      border-radius: 0 0 0 7px; }
    .menu__item:last-child .menu__link {
      border-radius: 0 0 7px 0; }
  .menu__text {
    font-size: 24px;
    vertical-align: middle;
    font-weight: 300; }

.content__inner {
  position: relative;
  max-width: 1200px;
  min-width: 1200px;
  padding: 0 40px;
  margin: 0 auto; }

.content__substrate {
  z-index: 100;
  position: absolute;
  width: 1125px;
  right: -330px;
  top: 15px;
  bottom: 0px;
  background: #f0eed5 url("../images/bg-substrate.jpg") bottom no-repeat;
  border-radius: 7px;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2); }

.content__content {
  position: relative;
  z-index: 200;
  padding-top: 80px; }

.content__tab {
  background: #f0eed5;
  text-align: center;
  padding: 0 80px 0 74px;
  height: 96px;
  border-radius: 7px;
  position: absolute;
  right: 0px;
  top: -37px; }
  .content__tab:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%; }
  .content__tab:before {
    content: '';
    width: 29px;
    height: 29px;
    margin-right: 22px;
    display: inline-block;
    vertical-align: middle;
    background: url("../images/icon-info.png"); }

.content__tab-text {
  vertical-align: middle;
  color: #8b8b8b;
  font-size: 26px;
  line-height: 28px;
  font-weight: bold; }

.content__title {
  margin-left: 516px;
  font-size: 39px;
  line-height: 45px;
  margin-bottom: 24px;
  font-weight: bold;
  color: #543b2f; }

.feed {
  position: relative;
  padding-bottom: 55px; }
  .feed__item {
    position: relative; }
    .feed__item + .feed__item {
      margin-top: 16px; }
  .feed__img-h {
    margin-left: -10px;
    background: #fff;
    border-radius: 7px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    width: 554px;
    height: 354px; }
  .feed__img {
    max-width: 100%; }
  .feed__content {
    position: absolute;
    right: 0px;
    height: 294px;
    width: 724px;
    top: 40px;
    box-sizing: border-box;
    padding: 32px 42px 20px;
    background: rgba(255, 255, 255, 0.7); }
    .feed__content._bg-0 {
      background: url("../images/content-bg-0.png") no-repeat; }
    .feed__content._bg-1 {
      background: url("../images/content-bg-1.png") no-repeat; }
    .feed__content._bg-2 {
      background: url("../images/content-bg-2.png") no-repeat; }
    .feed__content._bg-3 {
      background: url("../images/content-bg-3.png") no-repeat; }
    .feed__content._bg-4 {
      background: url("../images/content-bg-4.png") no-repeat; }
  .feed__title {
    position: relative;
    font-size: 24px;
    line-height: 28px;
    color: #505050;
    font-weight: bold;
    padding-bottom: 30px;
    margin-bottom: 24px; }
    .feed__title:after {
      position: absolute;
      content: '';
      height: 1px;
      bottom: -1px;
      left: 0;
      right: 0;
      background: url("../images/line.png") no-repeat left; }
  .feed__text {
    color: #646464;
    font-size: 15px;
    line-height: 30px; }
  .feed__photos-btn {
    background: rgba(137, 27, 22, 0.85);
    font-weight: 300;
    font-size: 24px;
    line-height: 56px;
    box-sizing: border-box;
    color: #fff;
    height: 58px;
    border-radius: 5px;
    padding: 0 38px 3px 85px;
    position: absolute;
    z-index: 100;
    bottom: -30px;
    left: 0; }
    .feed__photos-btn:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 28px;
      margin: auto 0;
      width: 38px;
      height: 33px;
      background: url("../images/icon-photos.png"); }

.rewards {
  margin-top: 130px; }
  .rewards__inner {
    position: relative;
    max-width: 1200px;
    min-width: 1200px;
    padding: 0 40px;
    margin: 0 auto; }
  .rewards__substrate {
    z-index: 100;
    position: absolute;
    width: 1960px;
    left: -340px;
    top: 0;
    bottom: 0px;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2); }
  .rewards__content {
    position: relative;
    z-index: 200;
    padding-top: 85px;
    padding-bottom: 85px; }
  .rewards__tab {
    background: #fff;
    text-align: center;
    padding: 0 70px;
    height: 96px;
    border-radius: 7px;
    position: absolute;
    right: 0px;
    top: -52px; }
    .rewards__tab:after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      height: 100%; }
    .rewards__tab:before {
      content: '';
      width: 29px;
      height: 29px;
      margin-right: 22px;
      display: inline-block;
      vertical-align: middle;
      background: url("../images/icon-docs.png"); }
  .rewards__tab-text {
    vertical-align: middle;
    color: #8b8b8b;
    font-size: 26px;
    line-height: 28px;
    font-weight: bold; }
  .rewards__text {
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;
    margin-bottom: 32px; }

.rewards-slider__inner {
  margin-left: -30px;
  margin-right: -26px; }
  .rewards-slider__inner .slick-prev,
  .rewards-slider__inner .slick-next {
    height: 100%;
    position: absolute;
    font-size: 0;
    color: #fff;
    background: #fff;
    width: 40px;
    top: 0; }
    .rewards-slider__inner .slick-prev:before,
    .rewards-slider__inner .slick-next:before {
      content: '';
      background: url("../images/slider-arrows.png") 0 0;
      width: 16px;
      height: 32px;
      position: absolute;
      top: 93px; }
  .rewards-slider__inner .slick-prev {
    left: -10px; }
    .rewards-slider__inner .slick-prev:before {
      left: 0;
      background-position: 0 0; }
  .rewards-slider__inner .slick-next {
    right: -10px; }
    .rewards-slider__inner .slick-next:before {
      right: 0;
      background-position: 0 -32px; }

.rewards-slider__item {
  text-align: center; }

.rewards-slider__link {
  text-decoration: none; }

.rewards-slider__img {
  margin-bottom: 15px;
  display: inline-block !important;
  max-width: 150px; }

.rewards-slider__title {
  display: block;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 600;
  width: 150px;
  margin: 0 auto 12px auto;
  color: #3c3c3c; }

.rewards-slider__text, .rewards-slider__date {
  font-size: 9px;
  line-height: 18px;
  color: #777777; }

.footer {
  color: #201811;
  height: 450px;
  margin-top: -155px;
  padding-top: 155px;
  box-sizing: border-box;
  background: url("../images/bg-footer.jpg") center bottom; }
  .footer__inner {
    max-width: 1200px;
    min-width: 1200px;
    padding: 0 40px;
    margin: 0 auto;
    position: relative;
    height: 100%; }
  .footer__up-btn {
    width: 445px;
    position: absolute;
    z-index: 10;
    height: 56px;
    line-height: 52px;
    box-sizing: border-box;
    border-radius: 0 0 7px 7px;
    background: rgba(0, 0, 0, 0.5);
    font-weight: 300;
    color: #fff;
    font-size: 24px;
    text-align: center;
    padding: 0 0 4px 42px; }
    .footer__up-btn:before {
      content: '';
      position: absolute;
      top: 18px;
      margin-left: -37px;
      width: 19px;
      height: 18px;
      background: url("../images/icon-up.png"); }
  .footer__copyrights {
    position: absolute;
    bottom: 0;
    font-size: 12px;
    color: #7a7a7a;
    height: 48px;
    line-height: 48px;
    padding: 0 28px;
    border-radius: 7px 7px 0 0;
    background: #fff; }
  .footer__developers {
    font-family: "Roboto", Tahoma, sans-serif;
    color: #fff;
    position: absolute;
    right: 40px;
    bottom: 16px; }
  .footer__developers-link {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    border-bottom: 1px solid #fff; }

.footer-content {
  padding-top: 95px;
  font-family: "Roboto", Tahoma, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300; }
  .footer-content:after {
    content: '';
    display: table;
    clear: both; }
  .footer-content__col {
    float: left;
    width: 56.7%; }
    .footer-content__col:first-child {
      width: 43.3%; }

.footer-phones {
  position: relative;
  padding-left: 30px;
  padding-top: 7px;
  display: table; }
  .footer-phones:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 13px;
    height: 32px;
    background: url("../images/icon-phone.png"); }
  .footer-phones__row {
    margin-bottom: 10px;
    display: table-row; }
    .footer-phones__row:after {
      content: '';
      display: table;
      clear: both; }
  .footer-phones__title {
    padding-right: 25px;
    display: table-cell; }
  .footer-phones__value {
    display: table-cell;
    font-weight: 500; }
  .footer-phones__link {
    color: #201811;
    text-decoration: none; }
  .footer-phones__note {
    font-size: 12px;
    line-height: 20px;
    color: #553e20; }

.footer-contacts__item {
  position: relative;
  padding-left: 35px; }
  .footer-contacts__item + .footer-contacts__item {
    margin-top: 35px; }
  .footer-contacts__item:before {
    content: '';
    position: absolute; }
  .footer-contacts__item._location:before {
    top: -6px;
    left: 5px;
    width: 18px;
    height: 29px;
    background: url("../images/icon-pin.png"); }
  .footer-contacts__item._email:before {
    top: 2px;
    left: 0px;
    width: 27px;
    height: 17px;
    background: url("../images/icon-email.png"); }

.footer-contacts__link {
  color: #201811;
  text-decoration: none; }

.fancybox-header {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  font-family: "Open Sans", Arial, sans-serif;
  color: #404040;
  margin-bottom: 15px; }

.fancybox-title {
  font-size: 14px;
  line-height: 20px;
  font-family: "Roboto", Tahoma, sans-serif;
  color: #505050;
  padding-top: 20px; }

body .fancybox-close {
  background: url("../images/icon-cross.png") center no-repeat;
  top: 8px;
  right: 3px;
  width: 36px;
  height: 36px; }

body .fancybox-nav span {
  visibility: visible;
  width: 38px;
  height: 56px; }

body .fancybox-prev {
  left: -90px; }
  body .fancybox-prev span {
    background: url("../images/icon-gallery-prev.png"); }

body .fancybox-next {
  right: -90px; }
  body .fancybox-next span {
    background: url("../images/icon-gallery-next.png"); }

#fancybox-thumbs ul li {
  padding: 4px; }
  #fancybox-thumbs ul li.active {
    padding: 3px; }
  #fancybox-thumbs ul li a {
    border: 0; }

.fancybox-lock .wrapper {
  filter: blur(3px);
  -webkit-filter: blur(3px);
  -webkit-transform: translate3d(0, 0, 0); }
