<!DOCTYPE html><!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html><!--<![endif]-->
    <head>
        <meta name="viewport" width="960">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,500italic,400italic,500" rel="stylesheet" type="text/css">
        <link href="js/slick-1.4.1/slick.css" rel="stylesheet" type="text/css">
        <link href="js/fancybox-2.1.5/jquery.fancybox.css" rel="stylesheet" type="text/css">
        <link href="js/fancybox-2.1.5/helpers/jquery.fancybox-thumbs.css" rel="stylesheet" type="text/css">
        <link href="css/style.css" rel="stylesheet" type="text/css">
        <script src="js/jquery-1.11.2.min.js"></script>
        <script src="js/slick-1.4.1/slick.min.js"></script>
        <script src="js/fancybox-2.1.5/jquery.fancybox.pack.js"></script>
        <script src="js/fancybox-2.1.5/helpers/jquery.fancybox-thumbs.js"></script>
        <script src="js/init.js"></script>
    </head>
    <body class="_contacts">
        <div class="wrapper">
            <header class="header">
                <nav class="menu">
                    <ul class="menu__list">
                        <li class="menu__item"><a href="#" class="menu__link"><span class="menu__text">Гостевая</span></a></li>
                        <li class="menu__item _active"><a href="#" class="menu__link"><span class="menu__text">Мясо и Субпродукты</span></a></li>
                        <li class="menu__item"><a href="#" class="menu__link"><span class="menu__text">Полуфабрикаты</span></a></li>
                        <li class="menu__item"><a href="#" class="menu__link"><span class="menu__text">Контакты</span></a></li>
                        <li class="menu__item"><a href="#" class="menu__link"><span class="menu__text">Новости</span></a></li>
                    </ul>
                </nav>
                <section class="header-slider _contacts"></section>
            </header>
            <section class="content _contacts">
                <div class="content__inner">
                    <div class="content__substrate"></div>
                    <div class="content__content">
                        <div class="content__tab"><span class="content__tab-text">Контактная информация</span></div>
                        <div class="contacts-content">
                            <div class="contacts-content__col">
                                <div class="contacts-content-block"><strong class="contacts-content-block__title">Телефоны:</strong>
                                    <ul class="contacts-content-block__list">
                                        <li class="contacts-content-block__row"><b>8 (800) 200-20-20</b>&#32;- Единая справочная</li>
                                        <li class="contacts-content-block__row"><b>8 (800) 200-20-20</b>&#32;- Отдел продаж</li>
                                        <li class="contacts-content-block__row"><b>8 (800) 200-20-20</b>&#32;- Бухгалтерия</li>
                                    </ul>
                                </div>
                                <div class="contacts-content-block"><strong class="contacts-content-block__title">E-mail:</strong>
                                    <ul class="contacts-content-block__list">
                                        <li class="contacts-content-block__row"><b>svino_kompleks@mail.ru</b>&#32;- Поддержка</li>
                                        <li class="contacts-content-block__row"><b>sales@ksk.ru</b>&#32;- Отдел продаж</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="contacts-content__col">
                                <div class="contacts-content-block"><strong class="contacts-content-block__title">Адрес:</strong>
                                    <ul class="contacts-content-block__list">
                                        <li class="contacts-content-block__row">
                                            Россия, индекс: 93847, Новосибирская область, пос. Название посёлка<br>
                                            (69 км трассы Новосибирск-Кемерово)
                                        </li>
                                    </ul>
                                </div>
                                <div class="contacts-content-block"><strong class="contacts-content-block__title">Реквизиты:</strong>
                                    <ul class="contacts-content-block__list">
                                        <li class="contacts-content-block__row">
                                            ООО «Корниловский Свинокомплекс»<br>
                                            ИНН<br>
                                            ЗАО Сбербанк
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="contacts-map">
                            <div class="contacts-map__inner"></div>
                            <div class="contacts-map-magnifier"><i class="contacts-map-magnifier__frame"></i>
                                <div class="contacts-map-magnifier__viewport">
                                    <div class="contacts-map-magnifier__map"></div>
                                </div>
                            </div>
                        </div>
                        <div class="contacts-form">
                            <form action="/">
                                <h4 class="contacts-form__title">Возникли вопросы?</h4>
                                <div class="contacts-form__description">Оставьте сообщение, воспользовавшись формой обратной связи, и мы свяжемся с вами в ближайшее время!</div>
                                <div class="contacts-form-fields">
                                    <div class="contacts-form-fields__col">
                                        <textarea placeholder="Введите текст сообщения" class="contacts-form-fields__message"></textarea>
                                    </div>
                                    <div class="contacts-form-fields__col">
                                        <div class="contacts-form-fields__row">
                                            <input type="text" name="NAME" placeholder="Представьтесь пожалуйста" class="contacts-form-fields__input">
                                        </div>
                                        <div class="contacts-form-fields__row">
                                            <input type="text" name="NAME" placeholder="Контактных номер" class="contacts-form-fields__input">
                                        </div>
                                        <div class="contacts-form-fields__row">
                                            <button type="submit" class="contacts-form-fields__submit">Отправить</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="footer">
                <div class="footer__inner">
                    <div class="footer__copyrights">Права защищены. 2016 г. © ООО «Корниловский Свинокомплекс»</div>
                    <div class="footer__developers"><a href="#" class="footer__developers-link">Сайт разработали</a></div>
                </div>
            </footer>
        </div>
    </body>
</html>