<!DOCTYPE html><!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html><!--<![endif]-->
    <head>
        <meta name="viewport" width="960">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,500italic,400italic,500" rel="stylesheet" type="text/css">
        <link href="js/slick-1.4.1/slick.css" rel="stylesheet" type="text/css">
        <link href="js/fancybox-2.1.5/jquery.fancybox.css" rel="stylesheet" type="text/css">
        <link href="js/fancybox-2.1.5/helpers/jquery.fancybox-thumbs.css" rel="stylesheet" type="text/css">
        <link href="css/style.css" rel="stylesheet" type="text/css">
        <script src="js/jquery-1.11.2.min.js"></script>
        <script src="js/slick-1.4.1/slick.min.js"></script>
        <script src="js/fancybox-2.1.5/jquery.fancybox.pack.js"></script>
        <script src="js/fancybox-2.1.5/helpers/jquery.fancybox-thumbs.js"></script>
        <script src="js/init.js"></script>
    </head>
    <body class="_news-list">
        <div class="wrapper">
            <header class="header">
                <nav class="menu">
                    <ul class="menu__list">
                        <li class="menu__item"><a href="#" class="menu__link"><span class="menu__text">Гостевая</span></a></li>
                        <li class="menu__item _active"><a href="#" class="menu__link"><span class="menu__text">Мясо и Субпродукты</span></a></li>
                        <li class="menu__item"><a href="#" class="menu__link"><span class="menu__text">Полуфабрикаты</span></a></li>
                        <li class="menu__item"><a href="#" class="menu__link"><span class="menu__text">Контакты</span></a></li>
                        <li class="menu__item"><a href="#" class="menu__link"><span class="menu__text">Новости</span></a></li>
                    </ul>
                </nav>
                <section class="header-slider _news-list"></section>
            </header>
            <section class="content _news-list">
                <div class="content__inner">
                    <div class="content__substrate"></div>
                    <div class="content__content">
                        <div class="content__tab"><span class="content__tab-text">Новости свиндустрии</span></div>
                        <div class="content__description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            
                        </div>
                        <div class="news-list">
                            <div class="news-list__list">
                                <!-- Для тех элементов, которые должны быть скрыты на сервере,-->
                                <!-- просто назначь style="display: none"-->
                                <article class="news-list-item"><span class="news-list-item__corner"></span><a href="#" class="news-list-item__link">
                                        <div class="news-list-item__img-h"><img src="images/news-pig.jpg" alt="" class="news-list-item__img"></div>
                                        <div class="news-list-item__inner">
                                            <h3 class="news-list-item__title"><span class="news-list-item__title-text">В России вновь разрешено прививать свиней</span></h3>
                                            <div class="news-list-item-info"><span class="news-list-item-info__date">22.06.2016г.</span></div>
                                            <div class="news-list-item__description">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                
                                            </div>
                                            <div class="news-list-item-read-more"><span class="news-list-item-read-more__text">Читать подробнее >></span></div>
                                        </div></a></article>
                                <!-- Для тех элементов, которые должны быть скрыты на сервере,-->
                                <!-- просто назначь style="display: none"-->
                                <article class="news-list-item"><span class="news-list-item__corner"></span><a href="#" class="news-list-item__link">
                                        <div class="news-list-item__img-h"><img src="images/news-pig.jpg" alt="" class="news-list-item__img"></div>
                                        <div class="news-list-item__inner">
                                            <h3 class="news-list-item__title"><span class="news-list-item__title-text">В России вновь разрешено прививать свиней</span></h3>
                                            <div class="news-list-item-info"><span class="news-list-item-info__date">22.06.2016г.</span></div>
                                            <div class="news-list-item__description">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                
                                            </div>
                                            <div class="news-list-item-read-more"><span class="news-list-item-read-more__text">Читать подробнее >></span></div>
                                        </div></a></article>
                                <!-- Для тех элементов, которые должны быть скрыты на сервере,-->
                                <!-- просто назначь style="display: none"-->
                                <article class="news-list-item"><span class="news-list-item__corner"></span><a href="#" class="news-list-item__link">
                                        <div class="news-list-item__img-h"><img src="images/news-pig.jpg" alt="" class="news-list-item__img"></div>
                                        <div class="news-list-item__inner">
                                            <h3 class="news-list-item__title"><span class="news-list-item__title-text">В России вновь разрешено прививать свиней</span></h3>
                                            <div class="news-list-item-info"><span class="news-list-item-info__date">22.06.2016г.</span></div>
                                            <div class="news-list-item__description">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                
                                            </div>
                                            <div class="news-list-item-read-more"><span class="news-list-item-read-more__text">Читать подробнее >></span></div>
                                        </div></a></article>
                                <!-- Для тех элементов, которые должны быть скрыты на сервере,-->
                                <!-- просто назначь style="display: none"-->
                                <article class="news-list-item"><span class="news-list-item__corner"></span><a href="#" class="news-list-item__link">
                                        <div class="news-list-item__img-h"><img src="images/news-pig.jpg" alt="" class="news-list-item__img"></div>
                                        <div class="news-list-item__inner">
                                            <h3 class="news-list-item__title"><span class="news-list-item__title-text">В России вновь разрешено прививать свиней</span></h3>
                                            <div class="news-list-item-info"><span class="news-list-item-info__date">22.06.2016г.</span></div>
                                            <div class="news-list-item__description">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                
                                            </div>
                                            <div class="news-list-item-read-more"><span class="news-list-item-read-more__text">Читать подробнее >></span></div>
                                        </div></a></article>
                                <!-- Для тех элементов, которые должны быть скрыты на сервере,-->
                                <!-- просто назначь style="display: none"-->
                                <article class="news-list-item"><span class="news-list-item__corner"></span><a href="#" class="news-list-item__link">
                                        <div class="news-list-item__img-h"><img src="images/news-pig.jpg" alt="" class="news-list-item__img"></div>
                                        <div class="news-list-item__inner">
                                            <h3 class="news-list-item__title"><span class="news-list-item__title-text">В России вновь разрешено прививать свиней</span></h3>
                                            <div class="news-list-item-info"><span class="news-list-item-info__date">22.06.2016г.</span></div>
                                            <div class="news-list-item__description">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                
                                            </div>
                                            <div class="news-list-item-read-more"><span class="news-list-item-read-more__text">Читать подробнее >></span></div>
                                        </div></a></article>
                                <!-- Для тех элементов, которые должны быть скрыты на сервере,-->
                                <!-- просто назначь style="display: none"-->
                                <article class="news-list-item"><span class="news-list-item__corner"></span><a href="#" class="news-list-item__link">
                                        <div class="news-list-item__img-h"><img src="images/news-pig.jpg" alt="" class="news-list-item__img"></div>
                                        <div class="news-list-item__inner">
                                            <h3 class="news-list-item__title"><span class="news-list-item__title-text">В России вновь разрешено прививать свиней</span></h3>
                                            <div class="news-list-item-info"><span class="news-list-item-info__date">22.06.2016г.</span></div>
                                            <div class="news-list-item__description">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                
                                            </div>
                                            <div class="news-list-item-read-more"><span class="news-list-item-read-more__text">Читать подробнее >></span></div>
                                        </div></a></article>
                                <!-- Для тех элементов, которые должны быть скрыты на сервере,-->
                                <!-- просто назначь style="display: none"-->
                                <article class="news-list-item"><span class="news-list-item__corner"></span><a href="#" class="news-list-item__link">
                                        <div class="news-list-item__img-h"><img src="images/news-pig.jpg" alt="" class="news-list-item__img"></div>
                                        <div class="news-list-item__inner">
                                            <h3 class="news-list-item__title"><span class="news-list-item__title-text">В России вновь разрешено прививать свиней</span></h3>
                                            <div class="news-list-item-info"><span class="news-list-item-info__date">22.06.2016г.</span></div>
                                            <div class="news-list-item__description">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                
                                            </div>
                                            <div class="news-list-item-read-more"><span class="news-list-item-read-more__text">Читать подробнее >></span></div>
                                        </div></a></article>
                                <!-- Для тех элементов, которые должны быть скрыты на сервере,-->
                                <!-- просто назначь style="display: none"-->
                                <article class="news-list-item"><span class="news-list-item__corner"></span><a href="#" class="news-list-item__link">
                                        <div class="news-list-item__img-h"><img src="images/news-pig.jpg" alt="" class="news-list-item__img"></div>
                                        <div class="news-list-item__inner">
                                            <h3 class="news-list-item__title"><span class="news-list-item__title-text">В России вновь разрешено прививать свиней</span></h3>
                                            <div class="news-list-item-info"><span class="news-list-item-info__date">22.06.2016г.</span></div>
                                            <div class="news-list-item__description">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                
                                            </div>
                                            <div class="news-list-item-read-more"><span class="news-list-item-read-more__text">Читать подробнее >></span></div>
                                        </div></a></article>
                                <!-- Для тех элементов, которые должны быть скрыты на сервере,-->
                                <!-- просто назначь style="display: none"-->
                                <article class="news-list-item"><span class="news-list-item__corner"></span><a href="#" class="news-list-item__link">
                                        <div class="news-list-item__img-h"><img src="images/news-pig.jpg" alt="" class="news-list-item__img"></div>
                                        <div class="news-list-item__inner">
                                            <h3 class="news-list-item__title"><span class="news-list-item__title-text">В России вновь разрешено прививать свиней</span></h3>
                                            <div class="news-list-item-info"><span class="news-list-item-info__date">22.06.2016г.</span></div>
                                            <div class="news-list-item__description">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                
                                            </div>
                                            <div class="news-list-item-read-more"><span class="news-list-item-read-more__text">Читать подробнее >></span></div>
                                        </div></a></article>
                                <!-- Для тех элементов, которые должны быть скрыты на сервере,-->
                                <!-- просто назначь style="display: none"-->
                                <article class="news-list-item"><span class="news-list-item__corner"></span><a href="#" class="news-list-item__link">
                                        <div class="news-list-item__img-h"><img src="images/news-pig.jpg" alt="" class="news-list-item__img"></div>
                                        <div class="news-list-item__inner">
                                            <h3 class="news-list-item__title"><span class="news-list-item__title-text">В России вновь разрешено прививать свиней</span></h3>
                                            <div class="news-list-item-info"><span class="news-list-item-info__date">22.06.2016г.</span></div>
                                            <div class="news-list-item__description">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                
                                            </div>
                                            <div class="news-list-item-read-more"><span class="news-list-item-read-more__text">Читать подробнее >></span></div>
                                        </div></a></article>
                                <!-- Для тех элементов, которые должны быть скрыты на сервере,-->
                                <!-- просто назначь style="display: none"-->
                                <article class="news-list-item"><span class="news-list-item__corner"></span><a href="#" class="news-list-item__link">
                                        <div class="news-list-item__img-h"><img src="images/news-pig.jpg" alt="" class="news-list-item__img"></div>
                                        <div class="news-list-item__inner">
                                            <h3 class="news-list-item__title"><span class="news-list-item__title-text">В России вновь разрешено прививать свиней</span></h3>
                                            <div class="news-list-item-info"><span class="news-list-item-info__date">22.06.2016г.</span></div>
                                            <div class="news-list-item__description">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                
                                            </div>
                                            <div class="news-list-item-read-more"><span class="news-list-item-read-more__text">Читать подробнее >></span></div>
                                        </div></a></article>
                                <!-- Для тех элементов, которые должны быть скрыты на сервере,-->
                                <!-- просто назначь style="display: none"-->
                                <article class="news-list-item"><span class="news-list-item__corner"></span><a href="#" class="news-list-item__link">
                                        <div class="news-list-item__img-h"><img src="images/news-pig.jpg" alt="" class="news-list-item__img"></div>
                                        <div class="news-list-item__inner">
                                            <h3 class="news-list-item__title"><span class="news-list-item__title-text">В России вновь разрешено прививать свиней</span></h3>
                                            <div class="news-list-item-info"><span class="news-list-item-info__date">22.06.2016г.</span></div>
                                            <div class="news-list-item__description">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                
                                            </div>
                                            <div class="news-list-item-read-more"><span class="news-list-item-read-more__text">Читать подробнее >></span></div>
                                        </div></a></article>
                                <!-- Для тех элементов, которые должны быть скрыты на сервере,-->
                                <!-- просто назначь style="display: none"-->
                                <article class="news-list-item"><span class="news-list-item__corner"></span><a href="#" class="news-list-item__link">
                                        <div class="news-list-item__img-h"><img src="images/news-pig.jpg" alt="" class="news-list-item__img"></div>
                                        <div class="news-list-item__inner">
                                            <h3 class="news-list-item__title"><span class="news-list-item__title-text">В России вновь разрешено прививать свиней</span></h3>
                                            <div class="news-list-item-info"><span class="news-list-item-info__date">22.06.2016г.</span></div>
                                            <div class="news-list-item__description">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                
                                            </div>
                                            <div class="news-list-item-read-more"><span class="news-list-item-read-more__text">Читать подробнее >></span></div>
                                        </div></a></article>
                                <!-- Для тех элементов, которые должны быть скрыты на сервере,-->
                                <!-- просто назначь style="display: none"-->
                                <article class="news-list-item"><span class="news-list-item__corner"></span><a href="#" class="news-list-item__link">
                                        <div class="news-list-item__img-h"><img src="images/news-pig.jpg" alt="" class="news-list-item__img"></div>
                                        <div class="news-list-item__inner">
                                            <h3 class="news-list-item__title"><span class="news-list-item__title-text">В России вновь разрешено прививать свиней</span></h3>
                                            <div class="news-list-item-info"><span class="news-list-item-info__date">22.06.2016г.</span></div>
                                            <div class="news-list-item__description">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                
                                            </div>
                                            <div class="news-list-item-read-more"><span class="news-list-item-read-more__text">Читать подробнее >></span></div>
                                        </div></a></article>
                            </div>
                            <div class="news-list__footer">
                                <button type="button" class="news-list__show-more">Показать ещё 5 новостей</button>
                            </div>
                        </div>
                        <!-- Вспомогательный шлак. Удалить при интеграции-->
                        <script>
                            $('.news-list-item').each(function() {
                                if ($(this).index() > 4) {
                                    $(this).hide();
                                }
                            });
                        </script>
                    </div>
                </div>
            </section>
            <footer class="footer">
                <div class="footer__inner">
                    <!-- Вот тут добавился класс-модификатор!! (_compact)-->
                    <button type="button" class="footer__up-btn _compact">Вернуться наверх</button>
                    <section class="footer-content">
                        <div class="footer-content__col">
                            <div class="footer-phones">
                                <dl class="footer-phones__row">
                                    <dt class="footer-phones__title">Отдел продаж:</dt>
                                    <dd class="footer-phones__value"><a href="tel:88008002020" class="footer-phones__link">8 (800) 800-20-20</a></dd>
                                </dl>
                                <dl class="footer-phones__row">
                                    <dt class="footer-phones__title">Бухгалтерия:</dt>
                                    <dd class="footer-phones__value"><a href="tel:88008002020" class="footer-phones__link">8 (930) 800-20-20</a></dd>
                                </dl>
                                <dl class="footer-phones__row">
                                    <dt class="footer-phones__title">Отдел продаж:</dt>
                                    <dd class="footer-phones__value"><a href="tel:88008002020" class="footer-phones__link">8 (800) 800-20-20</a></dd>
                                </dl>
                                <div class="footer-phones__note">Звонки принимаем с 10:00 до 19:00 по Москве</div>
                            </div>
                        </div>
                        <div class="footer-content__col">
                            <ul class="footer-contacts">
                                <li class="footer-contacts__item _location">
                                    Россия, индекс: 93847, Новосибирская область, пос. Название посёлка<br>
                                    (69 км трассы Новосибирск-Кемерово)
                                </li>
                                <li class="footer-contacts__item _email"><a href="#" class="footer-contacts__link">svinki_kompleks@mail.ru</a></li>
                            </ul>
                        </div>
                    </section>
                    <div class="footer__copyrights">Права защищены. 2016 г. © ООО «Корниловский Свинокомплекс»</div>
                    <div class="footer__developers"><a href="#" class="footer__developers-link">Сайт разработали</a></div>
                </div>
            </footer>
        </div>
    </body>
</html>