<!DOCTYPE html><!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html><!--<![endif]-->
    <head>
        <meta name="viewport" width="960">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic&amp;amp;subset=cyrillic,cyrillic-ext" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i&amp;amp;subset=cyrillic,cyrillic-ext" rel="stylesheet" type="text/css"><link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,bold" rel="stylesheet" type="text/css" />
        <link href="js/jquery-ui-1.12.1.custom/jquery-ui.min.css" rel="stylesheet" type="text/css">
        <link href="js/slick-1.4.1/slick.css" rel="stylesheet" type="text/css">
        <link href="js/fancybox-2.1.5/jquery.fancybox.css" rel="stylesheet" type="text/css">
        <link href="js/fancybox-2.1.5/helpers/jquery.fancybox-thumbs.css" rel="stylesheet" type="text/css">
        <link href="css/style.css" rel="stylesheet" type="text/css">
        <script src="js/jquery-1.11.2.min.js"></script>
        <script src="js/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
        <script src="js/jquery.ui.dialogBodyScroll.js"></script>
        <script src="js/slick-1.4.1/slick.min.js"></script>
        <script src="js/fancybox-2.1.5/jquery.fancybox.pack.js"></script>
        <script src="js/fancybox-2.1.5/helpers/jquery.fancybox-thumbs.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.min.js"></script>
        <script src="js/init.js"></script>
    </head>
    <body class="_product-page">
        <div class="wrapper">
            <header class="header">
                <nav class="menu">
                    <ul class="menu__list">
                        <li class="menu__item"><a href="#" class="menu__link"><span class="menu__text">Гостевая</span></a></li>
                        <li class="menu__item _active"><a href="#" class="menu__link"><span class="menu__text">Мясо и Субпродукты</span></a></li>
                        <li class="menu__item"><a href="#" class="menu__link"><span class="menu__text">Полуфабрикаты</span></a></li>
                        <li class="menu__item"><a href="#" class="menu__link"><span class="menu__text">Контакты</span></a></li>
                        <li class="menu__item"><a href="#" class="menu__link"><span class="menu__text">Новости</span></a></li>
                    </ul>
                </nav>
                <section class="header-slider _product-page"></section>
            </header>
            <section class="content _product-page">
                <div class="content__inner">
                    <div class="content__substrate"></div>
                    <div class="content__content">
                        <div class="content__tab"><span class="content__tab-text">Карточка товара</span></div>
                        <div class="content__description">
                            <ul class="breadcrumbs">
                                <li class="breadcrumbs__item"><a href="#" class="breadcrumbs__link">Главная</a></li>
                                <li class="breadcrumbs__item"><a href="#" class="breadcrumbs__link _current">Мясо и субпродукты</a></li>
                            </ul>
                        </div>
                        <article class="product-page">
                            <div class="product-page__gallery">
                                <div class="product-page-photo-main"><span class="product-page-photo-main__zoom"></span>
                                    <div class="product-page-photo-main__inner"><img src="images/main-dummy-meat.jpg" data-index="0" class="product-page-photo-main__img"></div>
                                </div>
                                <div class="product-page-photo-thumbs _raw">
                                    <div class="product-page-photo-thumbs__item">
                                        <div class="product-page-photo-thumbs__inner"><img src="images/thumb-dummy-meat.jpg" data-big="images/main-dummy-meat.jpg" data-full="images/full-dummy-meat.jpg" data-title="Адын" data-index="0" class="product-page-photo-thumbs__img"></div>
                                    </div>
                                    <div class="product-page-photo-thumbs__item">
                                        <div class="product-page-photo-thumbs__inner"><img src="images/thumb-dummy-meat.jpg" data-big="images/main-dummy-meat.jpg" data-full="images/full-dummy-meat.jpg" data-title="Два" data-index="1" class="product-page-photo-thumbs__img"></div>
                                    </div>
                                    <div class="product-page-photo-thumbs__item">
                                        <div class="product-page-photo-thumbs__inner"><img src="images/thumb-dummy-meat.jpg" data-big="images/main-dummy-meat.jpg" data-full="images/full-dummy-meat.jpg" data-title="Три" data-index="2" class="product-page-photo-thumbs__img"></div>
                                    </div>
                                    <div class="product-page-photo-thumbs__item">
                                        <div class="product-page-photo-thumbs__inner"><img src="images/thumb-dummy-meat.jpg" data-big="images/main-dummy-meat.jpg" data-full="images/full-dummy-meat.jpg" data-title="Четые" data-index="3" class="product-page-photo-thumbs__img"></div>
                                    </div>
                                    <div class="product-page-photo-thumbs__item">
                                        <div class="product-page-photo-thumbs__inner"><img src="images/thumb-dummy-meat.jpg" data-big="images/main-dummy-meat.jpg" data-full="images/full-dummy-meat.jpg" data-title="Пять" data-index="4" class="product-page-photo-thumbs__img"></div>
                                    </div>
                                    <div class="product-page-photo-thumbs__item">
                                        <div class="product-page-photo-thumbs__inner"><img src="images/thumb-dummy-meat.jpg" data-big="images/main-dummy-meat.jpg" data-full="images/full-dummy-meat.jpg" data-title="Шесть" data-index="5" class="product-page-photo-thumbs__img"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-page__inner">
                                <div class="product-page-content">
                                    <h3 class="product-page-content__title"><span class="product-page-content__title-text">Мясо «Деревенское»</span></h3>
                                    <div class="product-page-content__description">
                                        <h1>
                                        Почему купить свинину оптом стоит именно у нас? </h1>
                                        <p>
                                        Ищете, где купить мясо в Новосибирске? Тогда вы обратились по адресу. Корниловский свинокомплекс уже немало лет на рынке и производит качественный продукт, который соответствует всем требованиям качества.
                                        </p>
                                        <p>
                                        <a href="#">Качественный продукт</a> - этот коктейль из множества самых разных факторов. Имеет значение, в каких условиях содержались свиньи, чем их кормили, в какой период они были заколоты, насколько они были здоровыми, правильно ли мясо хранилось и многое другое. Мы считаем, что в этом деле не бывает мелочей, поэтому педантично подходим к каждому этапу производства.
                                        </p>
                                        <p>
                                        Вы представитель ресторана или других мест общественного питания, поэтому вам требуются продукты для приготовления изысканных блюд? Наша компания способна удовлетворить ваши потребности и вкусовые предпочтения ваших клиентов. Вы собираетесь купить мясо по доступной цене, чтобы пустить его на изготовление мясных изделий? Корниловский свинокоплекс придет к вам на выручку. Возможно, вы просто хозяйка, привыкшая радовать свою семью необыкновенно вкусными обедами, приготовленными из качественных и натуральных продуктов. Мясо свинины, купить которое достаточно просто, также придется вам по вкусу.
                                        </p>
                                        <h2>
                                        Почему купить свинину оптом стоит именно у нас? </h2>
                                        <p>
                                        Высококлассное оборудование позволяет нам проводить почти все этапы в автоматическом режиме, что повышает производительность. Вентилирование помещений, создание оптимальной температуры, регулирование влажности, а также раздача и распределение кормов производится в соответствии со всеми установленными нормами. Чтобы мясо было наилучшего качества, наши специалисты скрещивают три породы свиней под руководством опытного селекционера - "ландрас", "крупная белая и "дюрюк". Исследования показали, что такое сочетание является благоприятным для придания свинине самых высоких характеристик. Кроме того, свинокомплекс реализует еще одно направление - выращивание и выведение породы свиней под названием "крупная белая". Данная деятельность происходит под четким присмотром специалистов «СибНИПТИЖ». Если вы заинтересованы в разведении свиней и собираетесь основать свою ферму, мы можем обеспечить вас хряками и свинками.
                                        </p>
                                        <h3>
                                        Что мы предлагаем? </h3>
                                        Мы предлагаем Вам
                                        натуральную мясную продукцию отличного качества. Во время приготовления мясо не
                                        «потечет» и не вспенится. Вкус мяса вас также приятно удивит. У нас вы можете
                                        приобрести свиные туши, полутуши и четверти. Помимо мяса, мы предлагаем
                                        вкуснейшие полуфабрикаты, приготовленные из высококачественного натурального
                                        сырья. За полуфабрикатами можно приехать самостоятельно, либо заказать доставку
                                        на дом.
                                        <ul>
                                            <li>Помимо мяса, мы предлагаем</li>
                                            <li>За полуфабрикатами можно приехать самостоятельно, либо заказать доставку
                                            на дом.</li>
                                            <li>Кроме того, свинокомплекс реализует еще одно направление - выращивание и выведение породы свиней под названием "крупная белая"</li>
                                        </ul>
                                        <ol>
                                            <li>Помимо мяса, мы предлагаем</li>
                                            <li>За полуфабрикатами можно приехать самостоятельно, либо заказать доставку
                                            на дом.</li>
                                            <li>Кроме того, свинокомплекс реализует еще одно направление - выращивание и выведение породы свиней под названием "крупная белая"</li>
                                        </ol>
                                        
                                    </div>
                                    <h4 class="product-page-content__subtitle"><span class="product-page-content__subtitle-text">Состав:</span></h4>
                                    <div class="product-page-content-structure">
                                        <ul class="product-page-content-structure__list">
                                            <li class="product-page-content-structure__item"><span class="product-page-content-structure__item-value">Фарш свиной</span>&#32;<span class="product-page-content-structure__item-notice">(60% мясо, 30% жили, 10% жир)</span></li>
                                            <li class="product-page-content-structure__item"><span class="product-page-content-structure__item-value">Фарш свиной</span>&#32;<span class="product-page-content-structure__item-notice">(60% мясо, 30% жили, 10% жир)</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-page-buy">
                                    <div class="product-page-buy__price">3 910</div>
                                    <div class="product-page-buy-count">
                                        <input type="text" value="1" readonly class="product-page-buy-count__field">
                                        <div class="product-page-buy-count__controls"><span class="product-page-buy-count__more"></span><span class="product-page-buy-count__less"></span></div>
                                    </div>
                                    <div class="product-page-buy__button-h">
                                        <button type="button" class="product-page-buy__button">Заказать</button>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <template id="sendForm-tpl">
                            <div class="b-send-form">
                                <form @submit="onFormSubmit">
                                    <input type="hidden" name="OFFERID" value="2313213">
                                    <input type="hidden" name="QUANTITY" :value="offerQuantity">
                                    <!-- Рома, здесь ты можешь подставить любые удобные имена полей для отправки-->
                                    <input v-for="field in form" type="hidden" :name="getFieldName(field.name, {
                                            name: 'MY_NAME',
                                            phone: 'MY_PHONE',
                                            email: 'MY_EMAIL'
                                        })" :value="field.value">
                                    <field v-for="field in form" :field="field" :validate-field="validateField"></field>
                                    <div v-for="field in form" v-if="field.error && field.message && field.message[field.error]" v-html="field.message[field.error]" class="b-send-form__field-error"></div>
                                    <div v-if="isFormSuccess" class="b-send-form__note">Всё, поля заполнены верно, нажмите «Отправить»</div>
                                    <button class="b-send-form__submit">Отправить</button>
                                </form>
                            </div>
                        </template>
                        <template id="sendFormField-tpl">
                            <div class="b-send-form__row">
                                <input type="input" :class="{_error: field.error, _success: field.success}" :placeholder="field.placeholder" autocomplete="off" ref="input" class="b-send-form__input">
                            </div>
                        </template>
                        <div class="product-page__footer">
                            <ul class="cross-links">
                                <li class="cross-links__item"><a href="#" class="cross-links__link">Где купить мясо в Новосибирске?</a></li>
                                <li class="cross-links__item"><a href="#" class="cross-links__link">Вкусные манты: где купить в вашем городе?</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="footer">
                <div class="footer__inner">
                    <!-- Вот тут добавился класс-модификатор!!!!! (_compact)-->
                    <button type="button" class="footer__up-btn _compact">Вернуться наверх</button>
                    <section class="footer-content">
                        <div class="footer-content__col">
                            <div class="footer-phones">
                                <dl class="footer-phones__row">
                                    <dt class="footer-phones__title">Отдел продаж:</dt>
                                    <dd class="footer-phones__value"><a href="tel:88008002020" class="footer-phones__link">8 (800) 800-20-20</a></dd>
                                </dl>
                                <dl class="footer-phones__row">
                                    <dt class="footer-phones__title">Бухгалтерия:</dt>
                                    <dd class="footer-phones__value"><a href="tel:88008002020" class="footer-phones__link">8 (930) 800-20-20</a></dd>
                                </dl>
                                <dl class="footer-phones__row">
                                    <dt class="footer-phones__title">Отдел продаж:</dt>
                                    <dd class="footer-phones__value"><a href="tel:88008002020" class="footer-phones__link">8 (800) 800-20-20</a></dd>
                                </dl>
                                <div class="footer-phones__note">Звонки принимаем с 10:00 до 19:00 по Москве</div>
                            </div>
                        </div>
                        <div class="footer-content__col">
                            <ul class="footer-contacts">
                                <li class="footer-contacts__item _location">
                                    Россия, индекс: 93847, Новосибирская область, пос. Название посёлка<br>
                                    (69 км трассы Новосибирск-Кемерово)
                                </li>
                                <li class="footer-contacts__item _email"><a href="#" class="footer-contacts__link">svinki_kompleks@mail.ru</a></li>
                            </ul>
                        </div>
                    </section>
                    <div class="footer__copyrights">Права защищены. 2016 г. © ООО «Корниловский Свинокомплекс»</div>
                    <div class="footer__developers"><a href="#" class="footer__developers-link">Сайт разработали</a></div>
                </div>
            </footer>
        </div>
    </body>
</html>