doctype html
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
html
    <!--<![endif]-->
    head
        include ./includes/head.jade

    body._catalog
        .wrapper
            header.header
                nav.menu
                    ul.menu__list
                        li.menu__item
                            a.menu__link(href="#")
                                span.menu__text Гостевая
                        li.menu__item._active
                            a.menu__link(href="#")
                                span.menu__text Мясо и Субпродукты
                        li.menu__item
                            a.menu__link(href="#")
                                span.menu__text Полуфабрикаты
                        li.menu__item
                            a.menu__link(href="#")
                                span.menu__text Контакты
                        li.menu__item
                            a.menu__link(href="#")
                                span.menu__text Новости


                section.header-slider._catalog

            section.content._catalog
                .content__inner
                    .content__substrate
                        include ./includes/seoBlock.jade

                    .content__content
                        .content__tab
                            span.content__tab-text Мясо и Субпродукты

                        .content__description.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                        .catalog
                            .catalog__sticker-h
                                i.catalog__sticker
                            each val in [1, 2, 3]
                                .catalog__list
                                    h2.catalog__title Туши, полутуши, четверти
                                    each val in [1, 2, 3]
                                        article.catalog-item._part-3
                                            span.catalog-item__corner
                                            a.catalog-item__link(href="#")
                                                .catalog-item__img-h
                                                    img.catalog-item__img(src="images/meat.jpg" alt="")
                                                .catalog-item__inner
                                                    h3.catalog-item__title
                                                        span.catalog-item__title-text
                                                            | Туши
                                                    .catalog-item-info
                                                        .catalog-item-info__item
                                                            span.catalog-item-info__item-text
                                                                | Самовывоз -&#32;
                                                                span.catalog-item-info__item-value 520
                                                                | &#32;р/кг,

                                                        .catalog-item-info__item
                                                            span.catalog-item-info__item-text
                                                                | Доставка -&#32;
                                                                span.catalog-item-info__item-value 550
                                                                | &#32;р/кг

                                                            span.catalog-item-info__item-notice
                                                                | &#32;(при заказе от 120кг)
                                                    .catalog-item__description.
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.


            footer.footer
                .footer__inner
                    button.footer__up-btn(type="button") Вернуться наверх
                    section.footer-content
                        .footer-content__col
                            .footer-phones
                                dl.footer-phones__row
                                    dt.footer-phones__title Отдел продаж:
                                    dd.footer-phones__value
                                        a.footer-phones__link(href="tel:88008002020") 8 (800) 800-20-20
                                dl.footer-phones__row
                                    dt.footer-phones__title Бухгалтерия:
                                    dd.footer-phones__value
                                        a.footer-phones__link(href="tel:88008002020") 8 (930) 800-20-20
                                dl.footer-phones__row
                                    dt.footer-phones__title Отдел продаж:
                                    dd.footer-phones__value
                                        a.footer-phones__link(href="tel:88008002020") 8 (800) 800-20-20
                                .footer-phones__note
                                    | Звонки принимаем с 10:00 до 19:00 по Москве

                        .footer-content__col
                            ul.footer-contacts
                                li.footer-contacts__item._location
                                    | Россия, индекс: 93847, Новосибирская область, пос. Название посёлка<br>
                                    | (69 км трассы Новосибирск-Кемерово)
                                li.footer-contacts__item._email
                                    a.footer-contacts__link(href="#") svinki_kompleks@mail.ru


                    .footer__copyrights
                        | Права защищены. 2016 г. © ООО «Корниловский Свинокомплекс»

                    .footer__developers
                        a.footer__developers-link(href="#") Сайт разработали
