doctype html
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
html
    <!--<![endif]-->
    head
        include ./includes/head.jade

    body._catalog
        .wrapper
            header.header
                nav.menu
                    ul.menu__list
                        li.menu__item
                            a.menu__link(href="#")
                                span.menu__text Гостевая
                        li.menu__item._active
                            a.menu__link(href="#")
                                span.menu__text Мясо и Субпродукты
                        li.menu__item
                            a.menu__link(href="#")
                                span.menu__text Полуфабрикаты
                        li.menu__item
                            a.menu__link(href="#")
                                span.menu__text Контакты
                        li.menu__item
                            a.menu__link(href="#")
                                span.menu__text Новости


                section.header-slider._catalog

            // Во тут класс _preparing не забудь
            section.content._preparing
                .content__inner
                    .content__substrate
                    .content__content
                        .content__description
                            ul.breadcrumbs
                                li.breadcrumbs__item
                                    a.breadcrumbs__link(href="#") Главная
                                li.breadcrumbs__item
                                    a.breadcrumbs__link._current(href="#") Какой-то раздел

                        .content__preparing
                            .content__preparing-inner Материалы раздела подготавливаются.

            footer.footer
                .footer__inner
                    button.footer__up-btn(type="button") Вернуться наверх
                    section.footer-content
                        .footer-content__col
                            .footer-phones
                                dl.footer-phones__row
                                    dt.footer-phones__title Отдел продаж:
                                    dd.footer-phones__value
                                        a.footer-phones__link(href="tel:88008002020") 8 (800) 800-20-20
                                dl.footer-phones__row
                                    dt.footer-phones__title Бухгалтерия:
                                    dd.footer-phones__value
                                        a.footer-phones__link(href="tel:88008002020") 8 (930) 800-20-20
                                dl.footer-phones__row
                                    dt.footer-phones__title Отдел продаж:
                                    dd.footer-phones__value
                                        a.footer-phones__link(href="tel:88008002020") 8 (800) 800-20-20
                                .footer-phones__note
                                    | Звонки принимаем с 10:00 до 19:00 по Москве

                        .footer-content__col
                            ul.footer-contacts
                                li.footer-contacts__item._location
                                    | Россия, индекс: 93847, Новосибирская область, пос. Название посёлка<br>
                                    | (69 км трассы Новосибирск-Кемерово)
                                li.footer-contacts__item._email
                                    a.footer-contacts__link(href="#") svinki_kompleks@mail.ru


                    .footer__copyrights
                        | Права защищены. 2016 г. © ООО «Корниловский Свинокомплекс»

                    .footer__developers
                        a.footer__developers-link(href="#") Сайт разработали
